@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* background: #38393d; */
    font-family: 'SolaimanLipi', sans-serif;
}

.login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.main-screen {
    display: none;
}

.amount {
    font-size: 45px;
    font-weight: bold;
}

#income-btn {
    width: 100%;
    padding: 7px;
}

input {
    width: 100%;
    padding: 6px;
    border: 1px solid #0d6efd;
    border-radius: 5px;
}

li:nth-child(even) {
    background: #424242;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

li:nth-child(odd) {
    background: #363636;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

ol {
    counter-reset: myOrderedListItemsCounter;
    padding: 0;
}

ol li {
    list-style-type: none;
    position: relative;
}

ol li:before {
    counter-increment: myOrderedListItemsCounter;
    content: counter(myOrderedListItemsCounter)".";
    margin-right: .5em;
}

#iamm,
#eamm {
    text-align: right;
}

/*  Form */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.form {
    position: relative;
    background: #060c21;
    border: 1px solid #000;
    width: 650px;
    padding: 40px 40px 60px;
    border-radius: 10px;
    text-align: center;

}

.form::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(315deg, #e91e63, #5d02ff);
    z-index: -1;
    transform: skew(2deg, 1deg);
    border-radius: 10px;
}

.form h2 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.form .input {
    margin-top: 40px;
    text-align: left;
}

.form .input .inputBox {
    margin-top: 10px;
}

.form .input .inputBox label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

.form .input .inputBox input {
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    background: linear-gradient(315deg, #e91e63, #5d02ff);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.form .input .inputBox input[type="submit"] {
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
    background: linear-gradient(315deg, #02d9ff, #e91e63);
}

.form .input .inputBox input[type="submit"]:hover {
    background: linear-gradient(-315deg, #02d9ff, #e91e63);
}

.form .input .inputBox input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.521);
    background: linear-gradient(315deg, #1ebde971, #5f02ff8c);
}

.forgot {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.forgot a {
    color: #ff0800;
}

.social {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social button {
    width: 75%;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 5px 10px;
    background: transparent;
    border: 3px solid #222;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.social button i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

.social button p {
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.social button:hover {
    background: linear-gradient(315deg, #326cd6, #5d02ff);
}

.social button:hover i {
    filter: invert(1);
}

.social button:active {
    background: linear-gradient(315deg, #5d02ff, #e91e63)
}